#updatePassword{
	width: 70%;
	height: 100%;
	margin: 20px 20%;
	font-size: 12px;
}

#updatePassword td{
	border: 0px;
}

.passwordText{
	width: 250px;
	height: 30px;
}

#main_content_main tr{
	height: 50px;
}

#errorMessage{
	width: 22%;
	height:30px;
	float: left;
	margin:0px;
	color: red;
	font-size: 12px;
}

#image_btn{
	width: 16%;
	float: right;
	margin: 0px 60% 0px 0px;	
}

.messagePrompt{
	font-size: 12px;
	color: #215dc6
}

.prompt_error{
	font-size: 12px;
	 color: red;
}