.areaSide {
    float: left;
    overflow: hidden;
    width:100%;
}

.sortImage {
    background-position: left top;
    height: 37px;
    overflow: hidden;
    border: 0px;
}

.sort {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #E9E9E9;
    border-image: none;
    border-right: 1px solid #E9E9E9;
    border-style: solid;
    border-width: 0 1px 1px;
    padding: 4px;
}

#sortTitle{
	width: 98%;
	height: 30px;
	margin: 5px 1%;
	border: 1px solid #EEEEEF;
	background-color: #F6F6F6;	
}

#sortTitle table td span{
	font-size: 18px;
	font-weight:bold;
	margin: 20px;
}

.sort h2 i.open {
    background-position: left -326px;
}

.blickOptions p span.open {
    background-position: -95px -25px;
}

.sort ul{
	margin-top:0px;
}

.sort ul li{
	list-style-type:none
}

.hide {
    display: none;
}

.sort ul li a{
	FONT: 12px ו;
	COLOR: #014CCC;
	TEXT-DECORATION: none;
}

.sort ul li a:hover {
	COLOR: #FF4F30;
	TEXT-DECORATION:none;
}