ul,li{
	list-style-type:none;
}

#top_top{
	width: 100%;
	height: 20px;
	background-color: #F5F5F5;
	border-bottom: 0.5px solid #DCDCDC;
}

#top_top_content{
	width:80%;
	margin:0px 10%;
}

#top_content_left{
	float:left;
	width: 60%;
}

#top_content_left span{
	
}
#top_content_right{
	float:right;
	width: 30%;
}

#top_mypaixie{
	margin: 0px 10px;
	width: 100px;
	float: left;
}

#top_mycar{
	width: 150px;
	float: right;
}

#top_top span{
	font-size: 12px;
}

span[id="phone"]{
	color: red;
	font-weight: bold;
}

#top_cneter{
	width: 80%;
	margin: 20px 10%;
	height:60px;
}

#top_center_img{
	width: 20%;
	float: left;
}

span[id="search"]{
	font-size: 12px;
}

#top_cneter table{
	width: 50%;
	margin: 0px 20px;
}

#top_cneter table td{
	height: 25px;
}

.searchContext{
	width: 91%;
	height: 35px;
	margin: 0px 0px;
	font-size: 16px;
}

#searchIMG{
	margin:2px 0px 0px 0px;
	vertical-align:middle;
}

#searchTd{
	border: 2px solid red;
}

span[id="top_title"]{
	font-size: 18px;
	font-weight: bold;
}

a[id="top_title"]:hover {
	COLOR: #6E6E6E;
	TEXT-DECORATION:none;
}

.a1{
	FONT: 12px ו;
	COLOR: #014CCC;
	TEXT-DECORATION: none;
}

.a1:hover {
	COLOR: #FF4F30;
	TEXT-DECORATION:none;
}

#top_bottom{
	width: 80%;
	margin: 10px 10%;
}

#top_bottom span{
	margin:0px 0px;
}

#top_hr{
	width: 100%;
	height: 10px;
}

.userName{
	font-size:14px;
	font-weight:bold;
	color:#FF4F30;
}

#top_content_right ul{
	padding:0px;
	margin:0px;
}

.mypaixie_title{
	width:83px;
}

.mypaixie_content{
	border:1px solid #111111;
	border-top:0px;
	float: left;
	width: 100px;
}

.mypaixie_content ul li[class="_hr"]{
	border-top:1px dashed #DDDDDD;
	margin: 0px 0px 0px 4px;
	height: 25px;
	line-height: 26px;
}

.mypaixie_content ul li[class="_hr"]:first-child{
	border:0px;
}

li[class="_hr"] ul li{
	float:left;
}

li[class="_hr"] ul li[class="img"]{
	float:right;
	height: 20px;
	width: 16px;
}

li[class="_hr"] ul li[id="_topHr"]{
	border-top:1px solid #111111;
}

.mycar_title{
	width: 110px;
}

span[class="topNumber"]{
	color: red;
	font-weight: bold;
}

