.setSecret_title{
	border: 1px solid #DDDDDD;
	border-bottom: 1px solid #FF0002;
	height: 30px;
	width: 100%;
}

.setSecret_title span{
	font-size: 16px;
	font-weight: bold;
	color: #CC0000;
	margin: 5px 20px;
	line-height: 35px;
}

.setSecret_content{
	width: 100%;
	border: 1px solid #DDDDDD;
	float: left;
	margin: 10px 0px;
}

.setSecret_content table{
	width: 80%;
	margin: 20px 10%;
}

.setSecret_content table td{
	font-size: 12px;
}

.setSecret_content table input[type="text"]{
	width: 170px;
	height: 25px;
}

